#logo{
	margin: 0 300px 0 300px;
	height: 500px;
	width: 600px;
}

body {
	margin: 0;
	padding: 0;
	background: #4d4c4c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #6a91d4;
}
h1{
	margin: 20px 100px 20px 100px;
	padding: 20px
}
h2{
	margin: 10px 0 0 20px;
}
p{
	margin: 0 100px 0 100px;
	padding: 20px;
}
.contact{
	margin: 10px 0 0 20px;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

